mixin footer()
	footer.pages-footer
		.pages-footer__container
			div
				a(href='/')
					.logo кмопания
				p © 2007–2017 ООО «кмопания»
			div
				ul.pages-footer__list
					li
						span.icon-price
						a(href='/price.html') Прайс-лист
					li
						span.icon-mang
						a(href='') Кабинет менеджера
				.pages-footer__info
					p ООО «кмопания»
					p.adr
						span.street-address 000000, г. Москва, адрес
					p.tel +7 495 999-18-19
					a.email(href='mailto:info@oormk.ru') info@company.ru
			div
				p Мы в социальных сетях:
				a(href='#', target='_blank')
					span.icon-vk
				a(href='#', target='_blank')
					span.icon-dog
				a(href='#', target='_blank')
					span.icon-fb
				a(href='#', target='_blank')
					span.icon-twitter
