.pages-footer
  margin-top auto
  padding 60px 0
  font-size .7rem
  color #fff
  background-color #233661

.pages-footer__container
  margin 0 auto
  padding-right 15px
  padding-left 15px
  display flex
  width 100%
  max-width 1170px
  flex-wrap wrap
  justify-content space-between

.pages-footer__item
  min-width 10rem
  background-color #171d3e

.pages-footer__list
  margin 0
  padding 0
  display flex
  justify-content space-between

  li
    list-style none

    a
      color #fdcf08

.pages-footer__info
  text-align left
