mixin related-products()
  h2 Сопутствующая продукция
  ul.related-products
    li.related-products__item
      a(href='https://oormk.ru/provoloka-vyazalnaya/provoloka_1_2mm.html')
        img(src='https://oormk.ru/image/cache/data/A1/provoloka-1-2-220x150.png', alt='')
        span Проволока вязальная 1,2
    li.related-products__item
      a(href='https://oormk.ru/shveller/shveller_6_5.html')
        img(src='https://oormk.ru/image/cache/data/shveller/shveller-6-5-220x150.png', alt='')
        span Швеллер 6,5 У, П (12 м)
    li.related-products__item
      a(href='https://oormk.ru/setka_rabica/setka_rabica_10x1.html')
        img(src='https://oormk.ru/image/cache/data/setka_rabitsa/setka_rabitsa-10-1-220x150.png', alt='')
        span Сетка рабица 10×1
    li.related-products__item
      a(href='https://oormk.ru/profil_pryamougolniy/truba_profilnaya_40x25x1_5.html')
        img(src='https://oormk.ru/image/cache/data/truba_profil_pryamoug/profil_pramoug-40-25-1-5-220x150.png', alt='')
        span Труба профильная 40×25×1,5 (6 м)
    li.related-products__item
      a(href='https://oormk.ru/ugolok/ugolok_140x140x10.html')
        img(src='https://oormk.ru/image/cache/data/ugolok/ravnopol/ugolok-140-140-10-220x150.png', alt='')
        span Уголок 140×140×10 (12 м)
