include /blocks/delivery-banner/delivery-banner
include /blocks/related-products/related-products
include /blocks/support-banner/support-banner

mixin product()
  article.product
    h1.product__title Балка двутавровая 10 (12 м)

    section.product-desc__wrapper
      img.product__image(src="https://oormk.ru/image/cache/data/balka/balka-10-555x250.png" alt="Изображение товара")

      .product__desc
        p
          | Балка двутавровая 10 — популярный профиль сортового проката, который по форме напоминает букву «Н».
          | Представленный вид проката высоко ценится благодаря своей прочности: двутавр в 30 раз жестче и в 7 раз
          | прочнее стандартного профиля с квадратным или прямоугольным сечением,
          | поэтому может удерживать значительный вес вне зависимости от положения
          | (горизонтальное или вертикальное).
        p
          | Вес двутавровой балки значительно меньше квадратного или прямоугольного профиля, поэтому ее применение позволяет
          | значительно снизить нагрузку на возводимую конструкцию или здание, существенно сэкономить металл и собственные средства.
        p
          | Производство двутавровой балки 10 стандартизовано, и отвечает требованиям ГОСТ 8239-89.
          | Двутавр 10 изготавливается из рядовой стали (Ст. 3) или низколегированной (09Г2С), и может быть горячекатаным или сварным.
          | Сварной двутавр в несколько раз легче аналогичного горячекатаного, однако горячекатаный гораздо надежнее сварного.
          | Поэтому выбор того или иного профиля зависит от последующего применения двутавра.

    section.product-price__wrapper
      .product__table
        table
          thead
            tr
              th(colspan='2') Балка двутавровая 10 (12 м)
          tbody
            tr
              td Цена за 1 метр
              td 643₽
            tr
              td Цена от 1–10 тонн
              td 54890₽
            tr
              td Цена от 10 тонн
              td 53890₽
        button.button.button--price(href='', data-id='') Рассчитать и заказать
        .product__certificate
          img.product__certificate-image(src='https://oormk.ru/images/sert.png', alt='')
          p.product__certificate-text Предоставляем документы по запросу на соответствующую партию товара.

    +delivery-banner

    section.product-options__wrapper
      .product__table
        table
          thead
            tr
              th(colspan='2') Параметры
          tbody
            tr
              td Вес 1 метра
              td 0.222кг
            tr
              td Вес 1 штуки
              td 1.332кг
            tr
              td Длина
              td 6м

    section.product__sale
      h4(style="font-size: 1.5rem; color: #000") Металлообработка
      br
      p Наша компания предлагает услуги в области металлообработки, различной сложности.
      p Изготовление металлоконструкций.
      p Создание высокоточных деталей с разными видами отверстий.
      p Резка пополам - 5% от стоимости.

    section.product__content
      h3 Предназначение арматуры А500С 6
      p
        | Основное предназначение данного вида проката — армирование железобетонных конструкций. Небольшое сечение и высокие показатели прочности сделали его универсальным материалом для упрочнения изделий при незначительном увеличении веса конструкции (вес 1 погонного метра арматуры А500С 6 мм — 0,222 кг). По этой причине представленный вид проката повсеместно применяется в следующих отраслях:
      ul
        li возведение промышленных и торговых зданий;
        li строительство монолитных домов, в том числе высотных;
        li изготовление сеток, решеток, каркасов, в том числе сварных;
        li усиление железобетонных изделий и металлических конструкций.
      h3 Особенности и преимущества
      p
        | Прокат изготавливается из рядовой углеродистой стали, и в процессе изготовления подвергается термообработке (термомеханическому упрочнению). Такой способ получения обеспечивает высокие качественные характеристики при сравнительно низкой стоимости: арматура А500С 6 мм (цена за тонну) значительно дешевле аналогичных видов проката, изготовленного из низколегированной стали.
      p
        | Благодаря такому способу производства представленный металлопрокат характеризуется высокими качественными характеристиками, устойчивостью к коррозии, гибкостью, прочностью и отличной свариваемостью.
      p
        | В нашей компании вы можете купить арматуру А500С диаметром 6 мм или любой другой вид сортового проката мерной (11,7 метров) или немерной (в бунтах) длины.
      p
        | Заказать данный вид проката или любой другой металлопрокат с доставкой по Москве и Московской области можно прямо на сайте или, позвонив по номеру телефона: +7 495 999-18-19. Доставка осуществляется в день заказа, оплата за выбранные позиции возможна на месте разгрузки.

    +related-products
    +support-banner
