html
  margin 0
  padding 0
  width 100%
  font-size 16px

body
  margin 0
  padding 0
  width 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a, .btn-link
  font-family 'PT sans', 'pt_sansrubl', sans-serif
  letter-spacing .02rem
  color $main-link-color
  transition color .3s

a:hover, a:focus, .btn-link:hover, .btn-link:focus
  color $main-link-hover-color

h2, h3
  margin 25px 0
  display block
  width 100%
  font 400 30px / 32px 'Bender', sans-serif
  text-align center
  color #000

p
  margin 0 0 1em
  margin-bottom 1em
  padding 0
  font 12px / 18px 'PT sans', 'pt_sansrubl', sans-serif
  letter-spacing normal
  color #4b4a50

.button
  margin-bottom 40px
  padding 6px
  display block
  font 400 16px / 18px 'Bender', sans-serif
  text-align center
  text-decoration none
  color #161e4c
  background #fdcf08
  border 2px solid #fdcf08
  border-radius 0
  transition .3s

.button:hover
  color #161e4c
  border 2px solid #161e4c

#app
  padding-top 60px
  display flex
  flex-direction column
  min-height 100vh
  font-family 'Avenir', Helvetica, Arial, sans-serif
  color $main-text-color
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.container
  margin 0 auto
  width 100%
  max-width 1170px

.banner-sale
  margin-bottom 55px
  padding 5px 0
  display block
  font 13px / 16px 'PT sans', 'pt_sansrubl', sans-serif
  text-align center
  text-decoration underline
  letter-spacing .2em
  text-transform uppercase
  color #fff
  background-color #f14f38

.banner-sale:hover, .banner-sale:focus
  color #ddd

.floatcart
  position fixed
  right 0
  bottom 0
  padding .7rem 0 .6rem
  width 10rem
  font-size .9rem
  text-align center
  cursor pointer
  background-color #fdcf08
  transition background-color .3s

  &:hover
    background-color #ffd934

.pages-wrpaper
  display flex

.pages-sidebar
  margin-right 15px
  float left
  flex-basis 30%
  // background-color #eee

.pages-content
  display flex
  // background-color #c8dfbf
  flex-basis 100%

@media screen and (max-width: 768px)
  .container
    padding 0

  .pages-sidebar
    display none

  .pages-content
    float right
    width 100%
    flex-basis 100%
