mixin sidebar()
  ul.sidebar
    - for (var i=0; i<5; i++)
      li.sidebar__item
        a(href='#') Название категории товаров
        span.show-sidebar-list
        ul.products
          - for (var b=0; b<5; b++)
            li.products__item
              a(href='#') Название товара
