mixin navbar()
  nav.navbar
    ul.nav
      li
        a(href='company.html') Компания
      li
        a(href='#') Металлобработка
      li
        a(href='#') Прайс
      li
        a(href='#') Акции
      li
        a(href='#') Доставка
      li
        a(href='#') Оплата
      li
        a(href='#') Полезное
      li
        a(href='#') Контакты
