mixin support-banner()
  .support-banner
    .text
      strong Служба поддержки поможет сделать правильный выбор и заказ
    .phone
      strong +7 495 999-18-19
      a(href='#') Перезвонить мне
    .clear
