.delivery-banner
  margin-top 24px
  margin-bottom 55px
  clear both
  background #ececec

.delivery-banner__pay
  margin 0
  padding 4px 10px
  display block
  font 16px / 18px 'Bender', sans-serif
  text-align center
  background-color #fdcf08

.delivery-banner__list
  margin 0 -15px
  padding 20px 0
  clear both
  overflow hidden
  list-style none
  font-size 0
  letter-spacing -1px

  li
    margin 0 15px
    padding 0
    display inline-block
    width 262px
    text-align center
    vertical-align top
    background none

    p
      margin 0 auto
      width 170px
      font-size .8rem
      line-height 1.45

@media screen and (max-width: 650px)
  .delivery-banner
    width 100%

  .delivery-banner__list
    li
      margin 25px auto
      display block
